# Node.js
node_modules/
build/

# Python
__pycache__/
*.pyc
*.pyo
venv/
.venv/
# Environment Variables
.env

# Logs
*.log

# IDE/Editor
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Others
*.bak
*.tmp

# Flask
instance/
*.db
*.sqlite3
*.sqlite
.env.*
# Flask cache and session
flask_session/

# React build output
frontend/build/
frontend/.env*
frontend/coverage/
frontend/.cache/

# Test output
coverage/
htmlcov/
.nyc_output/
